<div>
  <h2>FAQ and Technical Details</h2>

  <p class="lead">
    <a role="button" data-toggle="collapse" data-target="#tech-details-collapse" aria-expanded="false" aria-controls="tech-details-collapse">
      Technical details for geeks
    </a>
  </p>
  <div class="collapse" id="tech-details-collapse">{% include technical-details.html %}</div>


  <p class="lead">
    <a role="button" data-toggle="collapse" data-target="#faq1" aria-expanded="false" aria-controls="faq1">
      FAQ: I can not login in Bugzilla/OBS/...
    </a>
  </p>
  <div class="collapse" id="faq1">
  <p>
    Please migrate your account to the new authentication system. See above for the two options to set a new password.
    You can either use the <b>Password reset</b> function in the <a target="_blank" href="https://idp-portal.suse.com">IDP Portal</a> or the <a target="_blank" href="https://idp-migrate.opensuse.org">IDP migration tool</a>.
  </p>
  </div>


  <p class="lead">
    <a role="button" data-toggle="collapse" data-target="#faq2" aria-expanded="false" aria-controls="faq2">
      FAQ: I still can not login.
    </a>
  </p>
  <div class="collapse" id="faq2">
  <p>
    Please go the <a target="_blank" href="https://idp-portal.suse.com">IDP Portal</a> and use the <b>Verify E-Mail Address</b> feature to enable you account. Enter your username and request a new token. An e-mail is sent to you with a token. Either click on the link or copy the token in the input field and click <b>Verify E-Mail Address</b>.
  </p>
  </div>

  <p class="lead">
    <a role="button" data-toggle="collapse" data-target="#faq3" aria-expanded="false" aria-controls="faq3">
      FAQ: I don't remember my registered e-mail address.
    </a>
  </p>
  <div class="collapse" id="faq3">
  <p>
    Please go the <a target="_blank" href="https://idp-portal.suse.com">IDP Portal</a> and use the <b>Password reset</b> or the <b>Verify E-Mail Address</b> feature.
  </p>
  </div>

  <p class="lead">
    <a role="button" data-toggle="collapse" data-target="#faq2_5" aria-expanded="false" aria-controls="faq2_5">
      FAQ: I don't have access to the registered e-mail address any more or it is invalid or no longer existing - but I remember my password.
    </a>
  </p>
  <div class="collapse" id="faq2_5">
  <p>
    Please use the <a target="_blank" href="https://idp-migrate.opensuse.org">migration tool</a> and set a new password for your account in the new system.
    Then go to the <a target="_blank" href="https://idp-portal.suse.com">IDP Portal</a> and use the <b>Change E-Mail Address</b> feature.<br />
    <b>Please note:</b> This migration is only available <b>until June 30th</b>. After that date such accounts can not be recovered and will remain deactivated. There is no way to recover them, as the migration tool can no longer check your old password in the old system and the password reset mail can not be delivered or read.<br /><b>Please make sure to use the migration tool in time!</b>
  </p>
  </div>

  <p class="lead">
    <a role="button" data-toggle="collapse" data-target="#faq4" aria-expanded="false" aria-controls="faq4">
      FAQ: I want to change my e-mail address.
    </a>
  </p>
  <div class="collapse" id="faq4">
  <p>
    Please go the <a target="_blank" href="https://idp-portal.suse.com">IDP Portal</a> and use the <b>Change E-Mail Address</b> feature.
  </p>
  </div>

  <p class="lead">
    <a role="button" data-toggle="collapse" data-target="#faq5" aria-expanded="false" aria-controls="faq5">
      FAQ: I can not see my e-mail address in my user profile.
    </a>
  </p>
  <div class="collapse" id="faq5">
  <p>
    Yes, that is correct. At the moment this is not possible. We are working on that. You can use the <b>Verify E-Mail Address</b> feature in the <a target="_blank" href="https://idp-portal.suse.com">IDP Portal</a> to check which address is registered with us.
  </p>
  </div>

  <p class="lead">
    <a role="button" data-toggle="collapse" data-target="#faq6" aria-expanded="false" aria-controls="faq6">
      FAQ: I don't remember my username nor the registered e-mail address.
    </a>
  </p>
  <div class="collapse" id="faq6">
  <p>
    Sorry, neither do we. Please go the <a target="_blank" href="https://idp-portal.suse.com">IDP Portal</a> and <b>Create an account</b>.
  </p>
  </div>

  <p class="lead">
    <a role="button" data-toggle="collapse" data-target="#faq7" aria-expanded="false" aria-controls="faq7">
      FAQ: The password change feature does not work for me.
    </a>
  </p>
  <div class="collapse" id="faq7">
  <p>
    For the <b>Password change</b> feature you need to know the current password in the new system.
    If you did not set a new password in the new system yet, please use the <a target="_blank" href="https://idp-migrate.opensuse.org">migration tool</a>. Authenticate with your old credentials there. Then you are redirected to the new system and can set your password. Alternatively you can also use the <b>Password reset</b> feature in the <a target="_blank" href="https://idp-portal.suse.com">IDP Portal</a>.
  </p>
  </div>

  <p class="lead">
    <a role="button" data-toggle="collapse" data-target="#faq8" aria-expanded="false" aria-controls="faq8">
      FAQ: I wand to delete my account and my personal data in your systems.
    </a>
  </p>
  <div class="collapse" id="faq8">
  <p>
    Sorry to hear that. Please write a mail with this request to <a target="_blank" href="mailto:privacy@suse.com">privacy@suse.com</a>.
  </p>
  </div>


  <p class="lead">
    <a role="button" data-toggle="collapse" data-target="#faq9" aria-expanded="false" aria-controls="faq9">
      FAQ: I read all the above FAQs - yes really all - and followed the instructions but I still have an issue.
    </a>
  </p>
  <div class="collapse" id="faq9">
  <p>
    We are really sorry. But we will try to help you. A contact E-Mail address will be setup and published <i>here</i> on Monday 11th. Thank you for your patience.
  </p>
  </div>


<!--
  <p class="lead">
    <a role="button" data-toggle="collapse" data-target="#faq1" aria-expanded="false" aria-controls="faq1">
      FAQ:
    </a>
  </p>
  <div class="collapse" id="faq1">
  <p>
    ..
  </p>
  </div>
-->

</div>
